#contactView {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/background4.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .arrow {
        width: 30px;
        margin-top: 30px;
        opacity: 0.5;
        transition: 0.7s;
        cursor: pointer;

        &:hover {
            opacity: 1;
            transition: 0.7s;
        }
    }
}
