#contactTile {
    width: 400px;
    height: 380px;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    border-radius: 3px;

    @media only screen and (max-height: 500px) {
        scale: 0.7;
    }

    .name {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px;

        .avatar {
            width: 70px;
            min-width: 70px;
            height: 70px;
            min-height: 70px;
            border-radius: 70px;
        }

        p {
            text-transform: uppercase;
            font-size: 20pt;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin-bottom: 30px;
        }

        span {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p {
                margin: 0;
            }
            .icon {
                width: 30px;
                margin-right: 20px;
            }
        }
        .connections {
            margin-top: 40px;
            width: 60%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .connect {
                width: 60px;
                cursor: pointer;
                top: 0;
                transition: 0.7s;
                position: relative;

                &:hover {
                    top: -5px;
                    transition: 0.7s;
                }
            }
        }
    }
}
