#projectsView {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/background3.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .arrow {
        width: 50px;
        opacity: 0.5;
        margin-left: 20px;
        cursor: pointer;
        position: relative;
        transition: 0.7s;
        right: 0;
        padding: 10px;

        &:hover {
            opacity: 1;
            right: -10px;
            transition: 0.7s;
        }
    }
    .buttonContact {
        margin-top: 50px;
    }
}
